<div class="container mt-3">
        <h1>{{pageTitle}}</h1>
        <hr>
        <div class="alert alert-success col-md-5 mt-3" *ngIf="status=='success'">
            {{message}}
            <a [routerLink]="['/category/']">Regresar</a>
        </div>
        <div class="alert alert-danger col-md-5 mt-3" *ngIf="status=='error'">
            {{message}}
        </div>
        <form class="col-md-5 ml-0 pl-0" #categoryCreateForm="ngForm" (ngSubmit)="onSubmit(categoryCreateForm)">
            <div class="form-group">
                <label for="name">Nombre</label>
                <input type="text" class="form-control" name="name" #name="ngModel" [(ngModel)]="category.name" required />
                <small *ngIf="!name.valid && name.touched" class="invalid-feedback d-block">
                    El nombre no puede estar vacío.
                </small>
            </div>
            <div class="form-group">
                <label for="description">Descripción</label>
                <input type="text" class="form-control" name="description" #description="ngModel" [(ngModel)]="category.description" required />
                <small *ngIf="!description.valid && description.touched" class="invalid-feedback d-block">
                    La descripción no puede estar vacía.
                </small>
            </div>
            <input type="submit" value="Registrar" class="btn btn-success mb-3" [disabled]="categoryCreateForm.invalid" />
        </form>
    </div>
