<div class="container mt-3">
  <h1>{{pageTitle}}</h1>
  <hr>
  <div class="alert alert-danger col-md-5 mt-3" *ngIf="status=='error' && message != undefined">
    {{message}}
  </div>
  <table class="table table-striped">
    <thead class="thead-dark">
      <tr>
        <th scope="col">#</th>
        <th scope="col">Nombre</th>
        <th scope="col">Apellido</th>
        <th scope="col">Email</th>
        <th scope="col">Roles</th>
        <th scope="col">Activo</th>
        <th scope="col"><a class="btn btn-success" [routerLink]="['/user/create/']">Crear</a></th>
      </tr>
    </thead>
    <tbody *ngFor="let user of users">
      <tr>
        <th scope="row">{{user.id}}</th>
        <td>{{user.name}}</td>
        <td>{{user.surname}}</td>
        <td>{{user.email}}</td>
        <td>{{user.roles}}</td>
        <td><input type="checkbox" name="active" #active="ngModel" [(ngModel)]="user.active" disabled /></td>
        <td>
          <a class="btn btn-primary mr-2" [routerLink]="['/user/edit/'+user.id]"  data-toggle="tooltip" data-placement="top" title="Editar">
            <img src="assets/images/edit-icon.png" width="24" height="24" alt="Editar">
          </a>
          <a class="btn btn-warning" [routerLink]="['/user/show/'+user.id]" data-toggle="tooltip" data-placement="top" title="Mostrar">
            <img src="assets/images/show-icon.png" width="24" height="24" alt="Mostrar">
          </a>
        </td>
      </tr>
    </tbody>
  </table>
</div>